<%= image_tag("bg3.jpg", class: 'home-bg')%>
<div class="mid-section" style="height: 240px; background-color: #000; margin-top: -5px; color: #fff; font-size: 2em;     display: flex;
  align-items: center;
  justify-content: center;">
  <p>Got an idea? Lets Chat!</p>
  <input type="text" name="email" placeholder="Your email address" style="        height: 30px;
  padding: 0 10px;
  margin: 0 10px;
  border: 0;">
  <input type="submit" value="Submit" style="    height: 30px;
  width: 100px;
  background-color: rgb(232, 31, 85);
  border: 0;
  color: #fff;
  text-transform: uppercase;">
</div>
